<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading  text-center">About SETU</h2>
                    <h3 class="section-subheading text-muted  text-center">SETU Stage Ensemble Theater Unit</h3>
                    <p>@todo Jazz this up, add images. </p><p>SETU is a non-profit English theater group in the Boston area.</p>
                    <p>Our mission is to build bridges between Indian and Western cultures through the medium of theater.</p>
                    <p>SETU will selectively produce plays to project the ways of life in India in a global cocss1/img/rerun-poster-1.jpgntext. It will attempt to highlight India's social, political and economic scenarios from the past and the present. India has rich and diverse tradition in drama beginning from ancient times by Sanskrit playwrights. Indian theater has found expressions in diverse forms from folk theater to musicals to modern drama forms. SETU will attempt to present some of these in the contemporary context and, in the process, create a better appreciation of India's heritage and culture.</p>
                </div>
            </div>
<!--             <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
        </div>
    </section>
